{% extends "base.html" %}
{% block title %}CREATE Page{% endblock %}

{% block content %}
<main role="main" class="container p-2">
    {% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close btn btn-primary btn-block" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
   
    <div class="card card-body">
      <table class="table table-striped table-hover table-bordered table-sm ">
        <thead>
          <tr>
            <td>DPI</td>
            <td>nombre</td>
            <td>apellidos</td>
            <td>vacuna</td>
            <td>dosis</td>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{user.dpi}}</td>
            <td>{{user.nombre}}</td>
            <td>{{user.apellidos}}</td>
            <td>{{user.vacuna}}</td>
            <td>{{user.dosis}}</td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card card-body">
      <img src={{url}} alt="my plot">
    </div>
</main>
{% endblock %}